* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding-left: 11px;
  padding-right: 10px;
}
@media screen and (min-width: 1150px) {
  .container {
    width: 860px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header-svg {
  display: flex;
  justify-content: end;
}

.nav-svg {
  width: 30px;
  height: 18px;
  stroke: #21243D;
}

.hero {
  padding: 33px 0 60px;
}

.hero-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

.hero-title {
  width: 312px;
  margin: 0 auto;
  text-align: center;
  font-family: Heebo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: var(--Dark-Color, #21243D);
  margin-bottom: 21px;
}
@media screen and (min-width: 1150px) {
  .hero-title {
    width: 506px;
    font-size: 44px;
    line-height: 60px;
    text-align: justify;
  }
}

.hero-text {
  width: 328px;
  color: var(--Dark-Color, #21243D);
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 28px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  cursor: pointer;
  background: var(--Primary, #FF6464);
}

.hero-button > span {
  width: 167px;
  height: 21px;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

.post {
  background: #EDF7FA;
  padding: 38px 0;
}

.post-heading {
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: var(--Dark-Color, #21243D);
  text-align: center;
  margin-bottom: 10px;
}

.post-item:not(:last-child) {
  margin-bottom: 17px;
}

.post-item {
  width: 354px;
  height: 266px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding: 12px 19px;
}

.item-heading {
  width: 327px;
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
  color: var(--Dark-Color, #21243D);
}

.item-data {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark-Color, #21243D);
}

.post-text {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  color: var(--Dark-Color, #21243D);
}

.work {
  padding: 17px 0;
}

.work-heading {
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: var(--Dark-Color, #21243D);
}

.work-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}

.work-card {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
}

.work-title {
  font-family: Heebo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--Dark-Color, #21243D);
}

.work-button {
  display: flex;
}

.button-data {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 22px;
  margin-bottom: 25px;
  background: #142850;
}

.button-data > span {
  color: #FFF;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
}

.button {
  color: var(--Light, #8695A4);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work-text {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  color: var(--Dark-Color, #21243D);
}