.header{
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-svg{
    display: flex;
    justify-content: end;
}
  .nav-svg{
    width: 30px;
    height: 18px;
    stroke:$color-text;
    @media screen and (min-width:1150px){
        display: none;
    }
}
.navigation-list{
    display: none;
    @media screen and (min-width:1150px){
        display: flex;
        
    }
}
.navigation-item{
    @media screen and (min-width:1150px){
        &:not(:last-child){
            margin-right: 21px;
        }
    }
}
.navigation-a{
font-family: Heebo;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: $navigation-color;
&:hover{
color: $button-color;
}
}
