$navigation-color:#000000;
$color-text:#21243D;
$button-color:#FF6464;
$view-secondry:#00A8CC;
$color-section:#EDF7FA;
$color-dashboard:#8695A4;
$color-button:#142850;
$decoration-item:#E0E0E0;
$background-color:#FFF;